.header {
    text-align: center;
}

.image {
    wdith: 400px;
    height: 400px;
}

.button {
    text-align: center;
}

#add-to-cart-button {
    background-color: rgba(6, 129, 245, 0.815);
    color: white; 
    text-align: center;
}

.table {
    border-collapse: collapse;
}

.primary {
    background-color: lightgray;
}

#copyright {
    text-align: center;
}