#painted-shoes{
    text-align: center;
}

.image {
    width: 400px;
    height: 400px;
}

.add-to-cart {
    text-align: center;
}

#add-to-cart-button {
    background-color: rgba(6, 129, 245, 0.815);
    color: white; 
    text-align: center;
    border: none;
    padding: 5px;
    border-radius: 8px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    border-spacing: 30px;
    min-width: 400px;
    text-align: center;
}

.styled-table th, td {
    padding: 10px;
}

.styled-header {
    background-color: lightgray;
    text-align: center;
}

#copyright {
    text-align: center;
}